:root {
    --bs-primary: #3A445D;
    --bs-primary-rgb: 59, 69, 94;
    --bs-link-color: #333;
    --bs-link-hover-color: #FF5A5F;
}
.bg-primary {
    --bs-bg-opacity:1;
    background-color: rgbavar(--bs-primary-rgb), var(--bs-bg-opacity);
}
.social-icons .social-icon:hover {
  background-color: #FF5A5F;
}
.backtotop {
    width:100px;
    height:100px;
    line-height: 100px;
    position:fixed;
    bottom: 50px;
    right:0;
    text-align: center;
}

.backtotop a {
    display: block;
    background: #3A445D;
    color:#eee;
    border-radius: 50%;
}

.backtotop a:hover {
    background: #FF5A5F;
    color:#eee;
    text-decoration: none;
    transition: 1s ease;
}


.imgcontainer {
    text-align: center;
    margin:50px auto;  
}

.imgcontainer img {
    height: 300px;
    margin: 10px;
    border-radius: 5%;
}